<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 pb-2 text-center md:text-left rounded-xl">
	<div>
		<h1 class="text-5xl font-bold">Academia Kepler</h1>
		<p class="my-4 text-2xl">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque,
			voluptatibus?
		</p>
		<button class="bg-teal-400 px-3 py-2 hover:bg-teal-300">Ver ciclos</button>
	</div>
	<img src="/astro-landing-page/images/studying-girl.svg" class="w-80" alt="" />
</header>
