---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de la academia">
	<h1>About</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
		rerum praesentium illo repellendus rem, quisquam quas eaque soluta
		aliquid, earum saepe quae neque necessitatibus, tenetur sit? Error
		eveniet veniam alias, voluptate cupiditate quas ducimus voluptatum velit
		odio doloribus a animi excepturi natus praesentium, suscipit ratione
		similique illo temporibus delectus incidunt, perspiciatis molestias
		ipsam nam. Ratione ipsa, obcaecati dignissimos ad nisi earum.
		Accusantium sequi a fugiat natus distinctio ducimus ipsam placeat
		necessitatibus doloribus tenetur tempore magni, iste qui fugit cumque
		reiciendis nisi id sunt explicabo minus saepe dicta molestiae maiores
		mollitia. Itaque eveniet nesciunt labore aliquam placeat incidunt
		consequuntur provident deleniti.
	</p>
</Layout>
